UVICORN_WORKERS=5

KAFKA_NUM_PARTITIONS=4

KAFKA_ENGINE_NUM_CONSUMERS=4
KAFKA_ENGINE_POLL_TIMEOUT_MS=100        
KAFKA_ENGINE_POLL_MAX_BATCH_SIZE=262144
KAFKA_ENGINE_FLUSH_INTERVAL_MS=2000

KAFKA_PRODUCER_LINGER_MS=50
KAFKA_PRODUCER_BATCH_SIZE=262144
KAFKA_PRODUCER_COMPRESSION=lz4
KAFKA_PRODUCER_ACKS=1
KAFKA_PRODUCER_IDEMPOTENT=false

KAFKA_NUM_NETWORK_THREADS=4
KAFKA_NUM_IO_THREADS=8

# My best solution II at 09052026
# UVICORN_WORKERS=5
# KAFKA_NUM_PARTITIONS=4
# KAFKA_ENGINE_NUM_CONSUMERS=4
# KAFKA_ENGINE_POLL_TIMEOUT_MS=100        
# KAFKA_ENGINE_POLL_MAX_BATCH_SIZE=65536
# KAFKA_ENGINE_FLUSH_INTERVAL_MS=2000
# KAFKA_PRODUCER_LINGER_MS=100
# KAFKA_PRODUCER_BATCH_SIZE=262144
# KAFKA_PRODUCER_COMPRESSION=lz4
# KAFKA_PRODUCER_ACKS=1
# KAFKA_PRODUCER_IDEMPOTENT=false
# KAFKA_NUM_NETWORK_THREADS=4
# KAFKA_NUM_IO_THREADS=8

# My best solution at 09052026
# UVICORN_WORKERS=5
# KAFKA_NUM_PARTITIONS=4
# KAFKA_ENGINE_NUM_CONSUMERS=4
# KAFKA_ENGINE_POLL_TIMEOUT_MS=100        
# KAFKA_ENGINE_POLL_MAX_BATCH_SIZE=65536
# KAFKA_ENGINE_FLUSH_INTERVAL_MS=2000
# KAFKA_PRODUCER_LINGER_MS=50
# KAFKA_PRODUCER_BATCH_SIZE=262144
# KAFKA_PRODUCER_COMPRESSION=lz4
# KAFKA_PRODUCER_ACKS=1
# KAFKA_PRODUCER_IDEMPOTENT=false
# KAFKA_NUM_NETWORK_THREADS=4
# KAFKA_NUM_IO_THREADS=8

# Adice of Cloude  at 08062026
# UVICORN_WORKERS=4
# KAFKA_NUM_PARTITIONS=4
# KAFKA_ENGINE_NUM_CONSUMERS=4
# KAFKA_ENGINE_POLL_TIMEOUT_MS=500
# KAFKA_ENGINE_POLL_MAX_BATCH_SIZE=500000
# KAFKA_ENGINE_FLUSH_INTERVAL_MS=7500
# KAFKA_PRODUCER_LINGER_MS=50
# KAFKA_PRODUCER_BATCH_SIZE=262144
# KAFKA_PRODUCER_COMPRESSION=lz4
# KAFKA_PRODUCER_ACKS=1
# KAFKA_PRODUCER_IDEMPOTENT=false
# KAFKA_NUM_NETWORK_THREADS=2
# KAFKA_NUM_IO_THREADS=4

# My last testing at 08062026
# UVICORN_WORKERS=5
# KAFKA_NUM_PARTITIONS=3
# KAFKA_ENGINE_NUM_CONSUMERS=3
# KAFKA_ENGINE_POLL_TIMEOUT_MS=1000
# KAFKA_ENGINE_POLL_MAX_BATCH_SIZE=200000
# KAFKA_ENGINE_FLUSH_INTERVAL_MS=10000
# KAFKA_PRODUCER_LINGER_MS=20
# KAFKA_PRODUCER_BATCH_SIZE=65536
# KAFKA_PRODUCER_COMPRESSION=lz4
# KAFKA_PRODUCER_ACKS=1
# KAFKA_PRODUCER_IDEMPOTENT=false
# KAFKA_NUM_NETWORK_THREADS=3
# KAFKA_NUM_IO_THREADS=3

